{% extends "base.html" %}

{% block content %}
  <div class="pattern-container">
      <h2>Color Theater Chase</h2>
      <form method="POST" action="/colorchase">
          <div>
              <label for="color1">Choose the First Color</label>
              <select name="color1" id="color1">
                  {% if color3 == 'RED' %}
                  <option value="RED" selected>Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color3 == 'ORANGE' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE" selected>Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color3 == 'YELLOW' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW" selected>Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color3 == 'GREEN' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN" selected>Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color3 == 'BLUE' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE" selected>Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color3 == 'INDIGO' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO" selected>Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color3 == 'VIOLET' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET" selected>Violet</option>
                  {% else %}
                  <option value="none" selected disabled hidden>Select an Option</option>
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% endif %}
              </select>
          </div>
          <br>
          <div>
              <label for="color2">Choose the Second Color</label>
              <select name="color2" id="color2">
                  {% if color4 == 'RED' %}
                  <option value="RED" selected>Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color4 == 'ORANGE' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE" selected>Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color4 == 'YELLOW' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW" selected>Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color4 == 'GREEN' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN" selected>Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color4 == 'BLUE' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE" selected>Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color4 == 'INDIGO' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO" selected>Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color4 == 'VIOLET' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET" selected>Violet</option>
                  {% else %}
                  <option value="none" selected disabled hidden>Select an Option</option>
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% endif %}
              </select>
          </div>
          <br>
          <div>
              <label for="speed">Choose a Speed</label>
              <select name="speed" id="speed">
                  {% if speed == 'SLOW' %}
                  <option value="SLOW" selected>SLOW</option>
                  <option value="MEDIUM-SLOW">MEDIUM-SLOW</option>
                  <option value="MEDIUM">MEDIUM</option>
                  <option value="MEDIUM-FAST">MEDIUM-FAST</option>
                  <option value="FAST">FAST</option>
                  {% elif speed == 'MEDIUM-SLOW' %}
                  <option value="SLOW">SLOW</option>
                  <option value="MEDIUM-SLOW" selected>MEDIUM-SLOW</option>
                  <option value="MEDIUM">MEDIUM</option>
                  <option value="MEDIUM-FAST">MEDIUM-FAST</option>
                  <option value="FAST">FAST</option>
                  {% elif speed == 'MEDIUM' %}
                  <option value="SLOW">SLOW</option>
                  <option value="MEDIUM-SLOW">MEDIUM-SLOW</option>
                  <option value="MEDIUM" selected>MEDIUM</option>
                  <option value="MEDIUM-FAST">MEDIUM-FAST</option>
                  <option value="FAST">FAST</option>
                  {% elif speed == 'MEDIUM-FAST' %}
                  <option value="SLOW">SLOW</option>
                  <option value="MEDIUM-SLOW">MEDIUM-SLOW</option>
                  <option value="MEDIUM">MEDIUM</option>
                  <option value="MEDIUM-FAST" selected>MEDIUM-FAST</option>
                  <option value="FAST">FAST</option>
                  {% elif speed == 'FAST' %}
                  <option value="SLOW">SLOW</option>
                  <option value="MEDIUM-SLOW">MEDIUM-SLOW</option>
                  <option value="MEDIUM">MEDIUM</option>
                  <option value="MEDIUM-FAST">MEDIUM-FAST</option>
                  <option value="FAST" selected>FAST</option>
                  {% else %}
                  <option value="none" selected disabled hidden>Select an Option</option>
                  <option value="SLOW">SLOW</option>
                  <option value="MEDIUM-SLOW">MEDIUM-SLOW</option>
                  <option value="MEDIUM">MEDIUM</option>
                  <option value="MEDIUM-FAST">MEDIUM-FAST</option>
                  <option value="FAST">FAST</option>
                  {% endif %}
              </select>
          </div>
          <br>
          <input type="submit" name="num_pat" value="Submit">
      </form>
  </div>
{% endblock %}