{% extends "base.html" %}

{% block content %}
  <div class="pattern-container">
      <h2>Note: Page In Testing</h2>
      <form method="POST" action="/colorchase">
          <div>
              <label for="color1">Choose the First Color</label>
              <select name="color1" id="color1">
                  {% if color1 == 'RED' %}
                  <option value="RED" selected>Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color1 == 'ORANGE' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE" selected>Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color1 == 'YELLOW' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW" selected>Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color1 == 'GREEN' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN" selected>Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color1 == 'BLUE' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE" selected>Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color1 == 'INDIGO' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO" selected>Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color1 == 'VIOLET' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET" selected>Violet</option>
                  {% else %}
                  <option value="none" selected disabled hidden>Select an Option</option>
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% endif %}
              </select>
          </div>
          <br>
          <div>
              <label for="color2">Choose the Second Color</label>
              <select name="color2" id="color2">
                  {% if color2 == 'RED' %}
                  <option value="RED" selected>Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color2 == 'ORANGE' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE" selected>Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color2 == 'YELLOW' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW" selected>Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color2 == 'GREEN' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN" selected>Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color2 == 'BLUE' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE" selected>Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color2 == 'INDIGO' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO" selected>Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color2 == 'VIOLET' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET" selected>Violet</option>
                  {% else %}
                  <option value="none" selected disabled hidden>Select an Option</option>
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% endif %}
              </select>
          </div>
          <br>
          <input type="submit" name="num_pat" value="Submit">
      </form>
  </div>
{% endblock %}