{% extends "base.html" %}

{% block content %}
    <h1>LED Light's Color Options</h1>

    <form method="POST" action="/control">
        {% if color != 'OFF' %}
            <input type="submit" name="submit_button" value="OFF">
        {% else %}
            <input type="submit" name="submit_button" value="ON">
        {% endif %}
        <input type="submit" name="submit_button" value="RED" style="background-color: red; color: white;">
        <input type="submit" name="submit_button" value="ORANGE" style="background-color: orange; color: white;">
        <input type="submit" name="submit_button" value="YELLOW" style="background-color: yellow; color: black;">
        <input type="submit" name="submit_button" value="GREEN" style="background-color: green; color: white;">
        <input type="submit" name="submit_button" value="BLUE" style="background-color: blue; color: white;">
        <input type="submit" name="submit_button" value="INDIGO" style="background-color: indigo; color: white;">
        <input type="submit" name="submit_button" value="VIOLET" style="background-color: violet; color: white;">
        <input type="submit" name="submit_button" value="RAINBOW" style="background-color: mintcream; color: black;">
    </form>

    {% if color == 'ON' %}
        <p>Current Color: RANDOM COLOR</p>
    {% else %}
        <p>Current Color: {{ color or 'not set' }}</p>
    {% endif %}
{% endblock %}