<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    </head>
    
    <body>
        <h1 style="text-align: center">LED Light's Color Options</h1>

        <form method="POST" action="/control">
            
            <h3>On/Off:</h3>
            <div class="distance">
                {% if color != 'OFF' %}
                    <input type="submit" name="submit_button" value="OFF" class="btn on_off">
                {% else %}
                    <input type="submit" name="submit_button" value="ON" class="btn on_off">
                {% endif %}
                </div>
            
            <h3>Solid Colors:</h3>
            <div class="distance">
                <input type="submit" name="submit_button" value="RED" class="btn red">
                <input type="submit" name="submit_button" value="ORANGE" class="btn orange">
                <input type="submit" name="submit_button" value="YELLOW" class="btn yellow">
                <input type="submit" name="submit_button" value="GREEN" class="btn green">
                <input type="submit" name="submit_button" value="BLUE" class="btn blue">
                <input type="submit" name="submit_button" value="INDIGO" class="btn indigo">
                <input type="submit" name="submit_button" value="VIOLET" class="btn violet">
                <input type="submit" name="submit_button" value="WHITE" class="btn white">
        
            </div>


            <h3>Patterns:</h3>
            <div class="distance">
                <input type="submit" name="submit_button" value="RAINBOW" class="btn rainbow">
                <input type="submit" name="submit_button" value="RAINBOW CYCLE" class="btn rainbow_cycle">
                <input type="submit" name="submit_button" value="RGB TWINKLE" class="btn rgb_twinkle">
            </div>
        </form>
        <form action="/colorpicker">
            <div>
                <h3>Color Picker</h3>
                <input type="submit" name="submit_button" value="COLOR PICKER" class="btn on_off">
            </div>
        </form>
        <form action="/numberpattern">
            <div>
                <h3>Numbered Patterns</h3>
                <input type="submit" name="submit_button" value="NUMBER PATTERN" class="btn on_off">
            </div>
        </form>
        <div class="distance">
            <h3>Brightness:</h3>
            <input name="text" maxlength="3" size="3"value={{ brightness or 100 }}>%
            {% if color == 'ON' %}
                <h5>Current Color: WHITE</h5>
            {% elif color == 'RAINBOW' %}
                <h5>Pattern Running: {{ color }}</h5>
            {% else %}
                <h5>Current Color: {{ color or 'Color Picker' }}</h5>
            {% endif %}
        </div>
    </body>
</html>
