{% extends "base.html" %}

{% block content %}
    <style>
        .button {
            background-color:inherit;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .red {background-color: red}
        .orange {background-color: orange;} 
        .yellow {background-color: yellow;}  
        .green {background-color: green;}  
        .blue {background-color: blue;}
        .indigo {background-color: indigo;}
        .violet {background-color: violet;}

    </style>
    <body>
        <h1>The current color is: {{ color }}</h1>

        <button class="button red" name = "color" value="RED" >
           <a href="{{ url_for('current') }}" style="color: white; text-decoration: none";>{{ ('Red') }}</a>
        </button>
        <button class="button orange" name = "color" value="ORANGE">
            <a href="{{ url_for('current') }}" style="color: white; text-decoration: none">{{ ('Orange') }}</a>
        </button>
        <button class="button yellow" name = "color" value="YELLOW">
            <a href="{{ url_for('current') }}" style="color: black; text-decoration: none">{{ ('Yellow') }}</a>
        </button>
        <button class="button green" name = "color" value="GREEN">
            <a href="{{ url_for('current') }}" style="color: white; text-decoration: none">{{ ('Green') }}</a>
        </button>
        <button class="button blue" name = "color" value="BLUE">
            <a href="{{ url_for('current') }}" style="color: white; text-decoration: none">{{ ('Blue') }}</a>
        </button>
        <button class="button indigo" name = "color" value="INDIGO">
            <a href="{{ url_for('current') }}" style="color: white; text-decoration: none">{{ ('Indigo') }}</a>
        </button>
        <button class="button violet" name = "color" value="VIOLET">
            <a href="{{ url_for('current') }}" style="color: white; text-decoration: none">{{ ('Violet') }}</a>
        </button>
    </body>
{% endblock %}