{% extends "base.html" %}

{% block content %}
<form id="colors" method="POST" action="/greens">
    <div class="span9">
        <div class="content">
            <div class="btn-controls">
                <div class="btn-box-row row-fluid">
                    <div class="distance">
                        <h2>Shades of Green:</h2>
                        <input type="submit" name="submit_button" value="GREEN" class="btn-box green big span4"/>
                        <input type="submit" name="submit_button" value="LIME" class="btn-box lime big span4"/>
                        <input type="submit" name="submit_button" value="FORESTGREEN" class="btn-box forestgreen big span4"/>
                        <input type="submit" name="submit_button" value="DARKGREEN" class="btn-box darkgreen big span4"/>
                        <input type="submit" name="submit_button" value="CARIBBEAN GREEN" class="btn-box caribbeangreen big span4"/>
                        <input type="submit" name="submit_button" value="JADE" class="btn-box jade big span4"/>
                        <input type="submit" name="submit_button" value="AQUAMARINE" class="btn-box aquamarine big span4"/>
                        <input type="submit" name="submit_button" value="TURQUOISE GREEN" class="btn-box turquoisegreen big span4"/>
                        <input type="submit" name="submit_button" value="NEON GREEN" class="btn-box neongreen big span4"/>
                        <input type="submit" name="submit_button" value="UFO GREEN" class="btn-box ufogreen big span4"/>
                        <input type="submit" name="submit_button" value="EMERALD" class="btn-box emerald big span4"/>
                        <input type="submit" name="submit_button" value="MYRTLE" class="btn-box myrtle big span4"/>
                    </div>
                </div>
            </div>
            <!--/.module-->
        </div>
        <!--/.content-->
    </div>
</form>
<ul class="nav pull-right">
    <form method="POST" action="/greens">
        <label for="state">Choose a State</label>
        <select name="state" id="state">
            {% if state == 'WIPE' %}
            <option value="WIPE" selected>WIPE</option>
            <option value="SOLID">SOLID</option>
            {% else %}
            <option value="WIPE">WIPE</option>
            <option value="SOLID" selected>SOLID</option>
            {% endif %}
        </select>
        <div class="pull-right" style="padding: 1px; padding-left: 5px;">
            <input type="submit" name="state_button" value="Submit">
        </div>
    </form>
</ul>
<!--/.span9-->
{% endblock %}