{% extends "base.html" %}

{% block content %}
        <div class="span9">
            <div class="content">
                <div class="btn-controls">
                    <div class="btn-box-row row-fluid">
                        <a href="/control" class="btn-box big span4"><i class=" icon-arrow-right"></i><b>Main Controller</b>
                            <p class="text-muted">
                                Click Me!</p></a><a href="/colorpicker" class="btn-box big span4"><i class="icon-arrow-right"></i><b>Rainbow Color Picker</b>
                        <p class="text-muted">
                            Click Me!</p>
                    </a><a href="/numberpattern" class="btn-box big span4"><i class="icon-arrow-right"></i><b>Numbered Patterns</b>
                        <p class="text-muted">
                            Click Me!</p>
                    </a>
                    </div>
                    <div class="btn-box-row row-fluid">
                        <a href="/reds" class="btn-box big span4"><i class="icon-arrow-right"></i><b>Reds</b>
                        <p class="text-muted">
                            Click Me!</p>
                    </a><a href="/greens" class="btn-box big span4"><i class="icon-arrow-right"></i><b>Greens</b>
                        <p class="text-muted">
                            Click Me!</p>
                    </a><a href="/blues" class="btn-box big span4"><i class="icon-arrow-right"></i><b>Blues</b>
                        <p class="text-muted">
                            Click Me!</p>
                    </a>
                    </div>
                    <div class="btn-box-row row-fluid">
                        <a href="/colorchase" class="btn-box big span4"><i class="icon-arrow-right"></i><b>Color Theater Chase</b>
                        <p class="text-muted">
                            Click Me!</p></a>
                        <a href="/colorcycle" class="btn-box big span4"><i class="icon-arrow-right"></i><b>Color Cycle</b>
                        <p class="text-muted">
                            Click Me!</p></a>
                    </div>
                </div>
                <!--/.module-->
            </div>
            <!--/.content-->
        </div>
<!--/.span9-->
{% endblock %}