{% extends "base.html" %}

{% block content %}
    <form method="post" action="/">
        <input type="button" style="background-color: red;color:white;width:150px; height:40px;" value="RED" name="red"/>
        <input type="button" style="background-color: orange;color:white;width:150px; height:40px;" value="ORANGE" name="orange"/>
        <input type="button" style="background-color: yellow;color:black;width:150px; height:40px;"value="YELLOW" name="yellow"/>
        <input type="button" style="background-color: green;color:white;width:150px; height:40px;" value="GREEN" name="green"/>
        <input type="button" style="background-color: blue;color:white;width:150px; height:40px;" value="BLUE" name="blue"/>
        <input type="button" style="background-color: indigo;color:white;width:150px; height:40px;" value="INDIGO" name="indigo"/>
        <input type="button" style="background-color: violet;color:white;width:150px; height:40px;" value="VIOLET" name="violet"/>
    </form>
{% endblock %}