{% extends "base.html" %}

{% block content %}
  <div class="pattern-container">
      <h2>Numbered Patterns</h2>
      <form method="POST" action="/numberpattern">
          <div>
              <label for="pattern">Choose a Pattern Number</label>
              <select name="pattern" id="pattern">
                  {% if pattern == '1' %}
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  {% elif pattern == '2' %}
                  <option value="1">1</option>
                  <option value="2" selected>2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  {% elif pattern == '3' %}
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3" selected>3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  {% elif pattern == '4' %}
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4" selected>4</option>
                  <option value="5">5</option>
                  {% elif pattern == '5' %}
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5" selected>5</option>
                  {% else %}
                  <option value="none" selected disabled hidden>Select an Option</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  {% endif %}
              </select>
          </div>
          <br>
          <div>
              <label for="color1">Choose the First Color</label>
              <select name="color1" id="color1">
                  {% if color1 == 'RED' %}
                  <option value="RED" selected>Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color1 == 'ORANGE' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE" selected>Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color1 == 'YELLOW' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW" selected>Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color1 == 'GREEN' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN" selected>Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color1 == 'BLUE' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE" selected>Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color1 == 'INDIGO' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO" selected>Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color1 == 'VIOLET' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET" selected>Violet</option>
                  {% else %}
                  <option value="none" selected disabled hidden>Select an Option</option>
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% endif %}
              </select>
          </div>
          <br>
          <div>
              <label for="color2">Choose the Second Color</label>
              <select name="color2" id="color2">
                  {% if color2 == 'RED' %}
                  <option value="RED" selected>Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color2 == 'ORANGE' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE" selected>Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color2 == 'YELLOW' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW" selected>Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color2 == 'GREEN' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN" selected>Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color2 == 'BLUE' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE" selected>Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color2 == 'INDIGO' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO" selected>Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% elif color2 == 'VIOLET' %}
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET" selected>Violet</option>
                  {% else %}
                  <option value="none" selected disabled hidden>Select an Option</option>
                  <option value="RED">Red</option>
                  <option value="ORANGE">Orange</option>
                  <option value="YELLOW">Yellow</option>
                  <option value="GREEN">Green</option>
                  <option value="BLUE">Blue</option>
                  <option value="INDIGO">Indigo</option>
                  <option value="VIOLET">Violet</option>
                  {% endif %}
              </select>
          </div>
          <br>
          <input type="submit" name="num_pat" value="Submit">
      </form>
  </div>
{% endblock %}