{% extends "base.html" %}

{% block content %}
<form id="colors" method="POST" action="/reds">
    <div class="span9">
        <div class="content">
            <div class="btn-controls">
                <div class="btn-box-row row-fluid">
                    <div class="distance">
                        <h2>Shades of Red:</h2>
                        <input type="submit" name="submit_button" value="RED" class="btn-box red big span4"/>
                        <input type="submit" name="submit_button" value="CRIMSON" class="btn-box crimson big span4"/>
                        <input type="submit" name="submit_button" value="VERMILION" class="btn-box vermilion big span4"/>
                        <input type="submit" name="submit_button" value="RUBY" class="btn-box ruby big span4"/>
                        <input type="submit" name="submit_button" value="PINK" class="btn-box pink big span4"/>
                        <input type="submit" name="submit_button" value="HOT PINK" class="btn-box hotpink big span4"/>
                        <input type="submit" name="submit_button" value="DEEP PINK" class="btn-box deeppink big span4"/>
                        <input type="submit" name="submit_button" value="FUCHSIA PINK" class="btn-box fuchsiapink big span4"/>
                        <input type="submit" name="submit_button" value="ORANGE" class="btn-box orange big span4"/>
                        <input type="submit" name="submit_button" value="ORANGERED" class="btn-box orangered big span4"/>
                        <input type="submit" name="submit_button" value="YELLOW ORANGE" class="btn-box yelloworange big span4"/>
                        <input type="submit" name="submit_button" value="BURNT ORANGE" class="btn-box burntorange big span4"/>
                    </div>
                </div>
            </div>
            <!--/.module-->
        </div>
        <!--/.content-->
    </div>
</form>
<ul class="nav pull-right">
    <form method="POST" action="/reds">
        <label for="state">Choose a State</label>
        <select name="state" id="state">
            {% if state == 'WIPE' %}
            <option value="WIPE" selected>WIPE</option>
            <option value="SOLID">SOLID</option>
            {% else %}
            <option value="WIPE">WIPE</option>
            <option value="SOLID" selected>SOLID</option>
            {% endif %}
        </select>
        <div class="pull-right" style="padding: 1px; padding-left: 5px;">
            <input type="submit" name="state_button" value="Submit">
        </div>
    </form>
</ul>
<!--/.span9-->
{% endblock %}